.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-description {
    color: #555;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  
  .product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  